<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
  <li class="breadcrumb-item">Genres</li>
  <li class="breadcrumb-item active" aria-current="page"><%= @genre.name %></li>
<% end %>

<h1><%= @genre.name %></h1>

<div class="product-grid">
  <% @products.each do |product| %>
    <%= render "products/product_card", product: product %>
  <% end %>
</div>