<h1>Redirecting to Payment</h1>

<p>You are being redirected to Stripe to complete your payment.</p>

<p>If you are not redirected automatically, 
  <a href="<%= @session_url %>">click here to continue</a>.
</p>