.product-filters {
  display: flex;
  gap: $space-2;
  margin: $space-3 0;

  input,
  select {
    @extend .form-control;
  }

  input[type="submit"],
  a {
    @extend .btn;
    @extend .btn-secondary;
    white-space: nowrap;
  }
}