.product-card {
  @extend .card;
  padding: 0;

  .product-image img {
    @extend .card-img-top;
  }

  .product-name {
    @extend .card-title;
    font-size: 1.1rem;
    margin-bottom: $space-2;
  }

  .product-meta {
    @extend .card-text;
    opacity: 0.7;
    margin-bottom: $space-2;
  }

  .product-price {
    @extend .card-text;
    font-weight: 600;
  }

  a {
    @extend .btn;
    @extend .btn-primary;
    margin-top: $space-2;
  }
}